
.titulo{
    text-align: left;
    position: relative;
    height: 1px;
    margin-top: 4rem;
    margin-left: 6rem;


}
.parrafo{
    text-align: left;
    position: relative;
    height: 3px;
    margin-top: 4rem;
    margin-left: 6rem;

}
.img{
  
    margin-top: 0rem;
    margin-left: 4rem;
     padding: 10px;
    float: left; 
    width: 275px; 
    height: 257px;
}
.t{
    border-right: 6px solid black;
    height: 1230px;
    position: absolute;
    left: 5%;
    right: 70%;
    margin-left:-4px;
    top: 304px;


}
.h2{
    text-align: right;
    position:absolute;
    right: 1%;
    margin-right:-400px;
    top: 3%;




}
.p{
    text-align: right;
    position:absolute;
    right: 0%;
    margin-right:-400px;
    margin-left: 485px;
    top: 90px;
}
   


   

   
